.entry {
  max-width: 60rem;
  --headword-size: 2.5rem;
  --headword-color: var(--color-accent);
}

.definitions {
  max-width: 40rem;
  margin-top: 1rem;
  font-weight: 300;
}

.num {
  font-weight: 700;
  color: var(--color-accent);
}
